footer{
  color: white;
  background-color: rgb(54, 81, 73);
  text-align:  center;
  
}

body{
  background-image: url("../bilder/hitergrundhome\ _v5.jpg");

}

nav{
  position: fixed !important;
  width: 100% !important;
}

.maindoku{
  padding: 100px 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
}

#khtml{
  border:1px solid white;
padding: 10px;
margin: 50px 20px;
}