footer{
  color: white;
  background-color: rgb(54, 81, 73);
  text-align:  center;
  
}

body{
  background-image: url("../bilder/hitergrundhome\ _v5.jpg");

}

nav{
  position: fixed !important;
  width: 100% !important;
}



#khtml{
  border:1px solid white;
padding: 10px;
margin: 50px 20px;
}

.maindoku{
  color: white;
  width: 95%;
  height: 100%;
  text-align: left;
  margin: auto;
  padding: 100px 10px;
  background-color: rgba(113, 170, 153, 0.897);
}