footer{
  color: white;
  background-color: rgb(113, 170, 153);
  text-align:  center;
}

body{
  background-image: url("../bilder/hitergrundhome\ _v5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  position: fixed !important;
  width: 100% !important;
}

.maindoku{
  padding: 100px 50px;
  color: white;
  background-color: rgba(0, 0, 0, 0.534);
}
