.footerdoku{
  color: white;
  background-color: rgb(54, 81, 73);
  text-align:  center;
}

.bodydoku{
  background-image: url("../bilder/hitergrundhome\ _v5.jpg");

}

nav{
  position: fixed !important;
  width: 100% !important;
  background-color: rgb(54, 81, 73) !important;
  z-index: 5 !important;

}

.maindoku{
  color: white;
  padding: 100PX 0PX;
  background-color: rgba(0, 0, 0, 0.493);
}

.box{
  width: 95%;
  height: 100%;
  text-align: left;
  margin: auto;
  padding: 10px 200px;
  column-count: 2;
  background-color: rgba(83, 148, 128, 0.897);
  font-size: 30px !important;
}

.box2{
  width: 80%;
  height: 100%;
  text-align: left;
  margin: auto;
  padding: 10px 200px;
  background-color: rgba(83, 148, 128, 0.897);
 font-size: 30px !important;

}
/*projekt*/

.containerp{
  color: rgb(255, 255, 255) ;
} 

.collapsed{
  color: rgb(255, 255, 255) !important;
}

.collapsed :hover{
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.iperka{
  width: 40px;
  height: 40px;
  margin-left: 0;
  margin-right: 0;
}
.card{
  background-color: rgba(113, 170, 153, 0.918) !important;
}


/*Film*/
.list-group-item{
  background-color: rgba(113, 170, 153, 0.918) !important;
}

.btn{
  background-color: rgb(78, 131, 115) !important;
  color: white;
}


.adobelogo {
  width: 40%;
  height: 40%;
}

/*konzept*/

.imgkonz{
  width: 40%;
  height: 40%;
  display: inline;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imgmstra{
  width: 40%;
  height: 40%;
}

h1  {
  text-align: center;
  text-decoration: underline;
  font-size: 80px !important;

}
h2{
  text-align: center;
  text-decoration: underline;
  font-size: 60px !important;

}
h3 {
  text-align: center;
  text-decoration: underline;
  break-before: always;

}

.bildtech{
  width: 40%;
  height: 40%;

}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}


.link{
  width: 100%;
  height: 100%;
  background-color: rgb(78, 131, 115) !important;
  color: white;
}

.link:hover{
  text-decoration: none;
  color: white;
}

@media (max-width: 1500px) {
  .box {
    column-count: 1;
  }
